<section>
  <h2>Wichtige Ereignisse vor dem eigentlichen WWW</h2>
  <dl>
    <dt>1941</dt>
    <dd>Erste Inspirationen zu Hypertext in "The Garden of Forking Paths"</dd>

    <dt>1945</dt>
    <dd>"As We May Think" - Ein Artikel über ein Gerät mit dem Namen <a href="https://en.wikipedia.org/wiki/Memex">Memex</a></dd>
  </dl>
</section>

<section>
  <dl>
    <dt>1965</dt>
    <dd>Ted Nelson münzt die Begriffe "Hypertext" und "Hypermedia"</dd>

    <dt>1980</dt>
    <dd>Tim Berners Lee baut "ENQUIRE" am CERN. ENQUIRE war aber zu dem Zeitpunkt eher ein Wiki.</dd>
  </dl>
</section>