<section>
  <dl>
    <dt>1985</dt>
    <dd>"Domain Name System" kommt ins Leben um den steigenden Anforderungen an "Dateien suchen und organisieren" gerecht zu werden</dd>
  
    <dt>1988</dt>
    <dd>Erste direkte Verbindung zwischen zwei Landmassen (Europa zu Nord-Amerika)</dd>
  </dl>
</section>