<section>
  <h2>12. März 1989</h2>
  <p>
    "Information Management: A Proposal" verwendet zum ersten mal Beschreibungen wie "Web". 
    <br />
    <hr />
    Idee basiert auf einer Hypertext-Datenbank mit "typed links". Dies stellt eine Erweiterung zu ENQUIRE dar.
  </p>
  <p>
    Die Idee wird nur zögerlich aufgenommen. Auch September 1990 wird die Idee auf der Europäischen Konferenz zur Hyptertext Technologie mit nur mäßigem Erfolg präsentiert.
  </p>
</section>