<section>
  <h2>Oktober und November 1990</h2>
  <p>Am 17. Oktober entsteht "IMDb". Damals noch als User-Script erstellt, soll die Idee im späteren Zeitlichen Verlauf als Website umstrukturiert werden.</p>
  <p>Zum 12. November Entwickeln Tim Berners Lee und Robert Cailliau 3 Fundementale Technologien:</p>
  <ul>
    <li>Universal Document Identifier (UDI), später bekannt als URI / URL</li>
    <li>Eine Markup-Sprache zur Beschreibung von Dokumenten (HTML)</li>
    <li>Ein Transport-Protokol zum Übertragen von Hypertext-Medien (HTTP)</li>
  </ul>
</section>