<section>
  <h2>Dezember 1990</h2>
  <p>
    Bis zum 20. Dezember 1990 bauen Tim Berners Lee und sein Team alle wichtigen Bestandteile für ein funktionierendes "World Wide Web":
  </p>
  <ul>
    <li>Protokol + Markup-Language</li>
    <li>Der erste Web-Browser ("WorldWideWeb")</li>
    <li>Den ersten Web-Server</li>
    <li><a href="https://info.cern.ch/">Die erste Website</a></li>
  </ul>
</section>
<section>
  <h3>Tim Berners Lee erster Server</h3>
  <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/At_Geneva_2024_444.jpg" />
</section>
<section>
  <h3>Der erste Web-Browser</h3>
  <img src="https://www.w3.org/History/1994/WWW/Journals/CACM/screensnap2_24c.gif" height="500px"/>
</section>