---
import PreTbl1 from './001_pre-tbl.1.astro'
import PreTbl2 from './002_pre-tbl.2.astro'
import BirthOfWeb from './003_birth-of-web.astro'
import Slide1990 from './004_1990.astro'
import December1990 from './005_dec-1990.astro'
---
<section>
  <PreTbl1 />
  <PreTbl2 />
  <BirthOfWeb />
  <Slide1990 />
  <December1990 />
</section>