<section>
	<section>
		<h2>Alpine Attribute</h2>
	</section>

	<section>
		<h3>x-data</h3>
		<p>Um ein HTML-Element als Alpine-Komponente zu initialisieren und Daten Reaktiv zu halten</p>
	</section>

	<section>
		<h3>x-show</h3>
		<p>Um HTML-Elemente abhängig einer Variable anzuzeigen</p>
	</section>

	<section>
		<h3>x-on</h3>
		<p>Um auf Nutzer-Interaktionen mit anderen Elementen zu reagieren</p>
	</section>

	<section>
		<h3>x-text</h3>
		<p>Um Text anzuzeigen</p>
	</section>

	<section>
		<h3>x-html</h3>
		<p>Render HTML-Strings ohne diese zu escapen</p>
	</section>

	<section>
		<h3>x-bind</h3>
		<p>Um andere HTML-Element Attribute an eine Variable zu binden (um damit Attribute zu setzen)</p>
	</section>

	<section>
		<h3>x-model</h3>
		<p>Um eine Variable gegen ein Input-Element zu binden</p>
	</section>

	<section>
		<h3>x-for</h3>
		<p>Zum iterativen Rendern von Listen</p>
	</section>

	<section>
		<h3>x-transition</h3>
		<p>Um Übergänge zu definieren</p>
	</section>

	<section>
		<h3>x-effect</h3>
		<p>Um Reaktiv auf Änderungen von Variablen zu reagieren</p>
	</section>

	<section>
		<h3>x-ref</h3>
		<p>Um HTML-Elemente an eine Variable zu binden um schneller damit interagieren zu können</p>
	</section>

	<section>
		<h3>x-if</h3>
		<p>Um HTML-Elemente anhand bestimmter Bedingungen zu mounten/unmounten</p>
	</section>
</section>
