<section>
	<section>
		<h2>Globale Funktionen</h2>
	</section>

	<section>
		<p>Globale Funktionen in Alpine dienen als eine Art Convencience Layer für bereits existierende Funktionalität (um z.B. ein Data-Objekt in JS zu definieren)</p>
	</section>

	<section>
		<h3>Alpine.data()</h3>
		<p>Um ein wiederverwendbares x-data Objekt zu erschaffen</p>
	</section>

	<section>
		<h3>Alpine.store()</h3>
		<p>Bietet die Möglichkeit um einen globalen State zu definieren</p>
	</section>

	<section>
		<h3>Alpine.bind()</h3>
		<p>Bietet eine bequeme Möglichkeit ein wiederverwendbares x-bind Objekt zu erstellen.</p>
	</section>
	
</section>
