---
import Title from './title.astro';
import Introduction from './introduction.astro';
import SetupAndInstall from './setup-and-installation.astro';
import Attribute from './alpine-attributes.astro';
import Globals from './globals.astro';
import Magics from './magics.astro';
---

<div class="slides">
	<Title />
	<Introduction />
	<SetupAndInstall />
	<Attribute />
	<Globals />
	<Magics />
</div>

