<section>
	<section>
		<p>Es wird nun Zeit, auf das nächste "Level" zu steigen, wenn es um die Web-Entwicklung geht</p>
		<p>Wir haben nun alle notwendigen API's angesehen, um mit einer Website auf rudimentäre Art und Weise zu interagieren. Nun haben natürlich viele Leute viele Ideen gehabt, die sich in Bibliotheken und Frameworks manifestiert haben.</p>
		<p>Das heißt für uns: Wir müssen das Rad nicht zum 100sten mal neu Erfinden.</p>
	</section>

	<section>
		<p>Wir werden <strong>nicht</strong> jQuery verwenden. Dafür gibt es aber aus meiner Sicht eine gute und moderne Alternative ohne gleich mit einem Monster-Framework um die Ecke zu kommen: AlpineJS</p>
		<p>AlpineJS ist <em>robustes und minimales tool um Verhalten direkt ins HTML zu stricken.</em> (laut eigener Aussage von AlpineJS)</p>
		<p>Insgesamt gibt es 15 Attribute, 6 Eigenschaften und 2 globale Methoden die ALpine nach außen liefert.</p>
	</section>

	<section>
		<p>Sehen wir uns das doch einfach mal genauer an</p>
	</section>
</section>
