<section>
	<section>
		<h2>"Magics" / Properties</h2>
	</section>

	<section>
		<p>AlpineJS hat ein paar Variablen die man zu bestimmten Zeitpunkten nutzen kann. Diese sind generel mit einem "$" prefixed.</p>
	</section>

	<section>
		<h3>$el</h3>
		<p>Mit dieser Variable können wir auf das aktuelle Element zugreifen (und es modifizieren wenn wir wollen)</p>
	</section>

	<section>
		<h3>$refs</h3>
		<p>Mit der Variable <code>$refs</code> können wir auf alle Referenzen die mit <code>x-ref</code> angelegt worden sind, zugreifen.</p>
	</section>

	<section>
		<h3>$store</h3>
		<p><code>$store</code> gibt uns die Möglichkeit, auf alle globalen Stores (mithilfe deren Namens) zuzugreifen</p>
	</section>

	<section>
		<h3>$watch</h3>
		<p><code>$watch</code> ist eine Funktion die wir innerhalb von Alpine-Komponenten verwenden können um auf reaktiven State und dessen Änderung zu reagieren</p>
	</section>

	<section>
		<h3>$dispatch</h3>
		<p>Mithilfe von <code>$dispatch</code> können wir Custom Events versenden, die dann wiederum von Parent-Komponenten verarbeitet werden können</p>
	</section>
</section>
