<section>
	<section>
		<h2>Setup und Installation des neuen Projektes</h2>
	</section>

	<section>
		<p>Da wir uns hier mit etwas komplett neuem befassen, legen wir auch ein neues Projekt auf.</p>	
		<p>Wir verwenden Vite, um das Grundprojekt zu initialisieren, und verwenden dann npm um AlpineJS zu installieren</p>
	</section>

	<section>
		<pre class="sh"><code data-trim data-line-numbers>
			mkdir alpine-test
			cd alpine-test
			npm init -y
			npm install --save-dev alpinejs
		</code></pre>
	</section>

	<section>
		<p>Alpine importieren und starten</p>
	</section>
</section>
