---
import Title from "./title.astro";
import MakeARequest from "./make-a-request.astro";
import Json from "./json.astro";
import Response from "./response.astro";
import Headers from "./headers.astro";
---

<div class="slides">
  <Title />
  <MakeARequest />
  <Json />
  <Response />
  <Headers />
</div>