---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="HTML Aufgabe 3 - Ein Bild sagt mehr als 1000 Worte">
  <h1>Bilder einbauen</h1>
  <p>Mit dem erlernten Material soll nun das HTML aus Aufgabe 1 erweitert werden</p>
  <ul>
    <li>Das Bild ist im Ordner abgelegt</li>
    <li>Es wird ein Bild innerhalb des HTML's angezeigt</li>
    <li>Das Bild soll eine vordefinierte Größe beim anzeigen haben und auch einen alt-Text beinhalten</li>
    <li>(Optional): Optimiere das Bild für kleine Bildschirme (oder für große) und zeige es mithilfe von &lt;picture&gt; Responsive an</li>
  </ul>
</Layout>