<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ein Beispielhafter Lebenslauf (HTML 5, kein Styling, kein Javascript)</title>
</head>
<body>
  <main>
    <section>
      <h1>Stefan Arbeit</h1>
      <p><em>Unternehmer, Visionär, Gestalter und Investor</em></p>
      <p>Mitbgeründer der Birnen Computer Gesellschaft (nun Birnen AG), Gründer der "Nächstes" AG und der Pixel Animation Studios. Innovativer Denker mit einer Leidenschaft für Technologie, dem erstellen für Geräten und Weicher Ware die das Leben einfacher macht.</p>
    </section>
    <section>
      <h2>Arbeitserfahrung</h2>

      <section>
        <h3>Geschäftsführender Direktor</h3>
        <strong>Birnen AG</strong>
        <br>
        <em>1997 - 2011</em>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit aperiam veritatis asperiores explicabo voluptate quo dignissimos voluptatibus facere distinctio harum? Rem, vel similique voluptas ipsam ad sequi autem adipisci veniam.
          <br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nobis ex eum nulla quasi. Unde, repellendus! Suscipit, quas deserunt? Iste corporis, obcaecati nesciunt placeat perferendis nisi sunt voluptatibus molestias nulla.
        </p>
      </section>

      <section>
        <h3>Gründer</h3>
        <strong>Die Grafische Gruppe (jetzt Pixel Animation Studios)</strong>
        <br>
        <em>1986 - 2006</em>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, iure dolores! Saepe sint quae assumenda dolorum doloremque accusamus illum eos. Accusamus molestiae temporibus nihil alias, deleniti quibusdam aliquid aliquam doloremque.
          <br>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam id quaerat ea neque. Quae, in quod, fugit dicta at eligendi sequi vel maxime pariatur, culpa harum ut distinctio exercitationem optio.
        </p>
      </section>
    </section>

    <section>
      <h2>Kompetenzen</h2>
      <ul>
        <li>Mechanik</li>
        <li>Marketing</li>
        <li>Kreativität</li>
        <li>Offener Sprecher</li>
        <li>Ambition</li>
        <li>Innovatives Denken</li>
        <li>Führung</li>
        <li>Ideen in die Wirklichkeit bringen</li>
        <li>Fokus</li>
      </ul>
    </section>

    <section>
      <h2>Hobbies und Interessen</h2>
      <ol>
        <li>Zen Budhismus</li>
        <li>Gestaltung</li>
        <li>Meditieren</li>
        <li>Kaligraphie</li>
        <li>Literatur</li>
      </ol>
    </section>
  </main>
</body>
</html>