---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="HTML Aufgabe 2">
  <section>
    <h1>Aufgabe 2 zu HTML</h1>
    <p>
      Schreiben Sie für diese Aufgabe eine kleine Kartei-Karten-Webseite.
      <br>
      <strong>Anforderungen:</strong>
      <ol>
        <li>Karteikarten sind per Ordner Thematisch abgegrenzt (z.B. Web-Engineering, Mathematik, etc...)</li>
        <li>Jede "Karteikarte" liegt in einem Themenordner in seinem eigenen Ordner (z.B. web-engineering/p-tag)</li>
        <li>Innerhalb jedes Karteikarten-Ordners existieren die HTML-Dateien "front.html" und "back.html", diese Stellen jeweils die Vorder- sowie Rückseite der Karteikarte dar.</li>
        <li>
          Im "root" als auch in den Themen-Ordnern existieren index.html Dateien, die jeweils die Inhalte des Ordners anzeigen
          <ul>
            <li>In index.html innerhalb des root-Verzeichnisses werden alle Themen aufgelistet und verlinkt</li>
            <li>Innerhalb der index.html eines Themen-Ordnes werden die einzelnen Karteikarten aufgelistet und verlinkt</li>
          </ul>
        </li>
      </ol>
    </p>
  </section>
  <section>
    <b>"Lösung"</b>
  </section>
</Layout>