---
import Title from './title.astro';
import Intro from './intro.astro';
import Setup from './setup.astro';
import Sql from './sql.astro';
import Usage from './usage.astro';
---

<div class="slides">
  <Title />
  <Intro />
  <Setup />
  <Sql />
  <Usage />
</div>