<section>
  <section>
    <h2>Einführung</h2>
  </section>

  <section>
    <p>Wenn wir (Nutzer)-Daten speichern wollen, legen wir in großen Projekten keine Dateien im Datei-System ab. Gründe hierfür sind:</p>
    <ul>
      <li>Ineffizienz</li>
      <li>Sicherheit</li>
      <li>"Instabilität"</li>
    </ul>
  </section>

  <section>
    <p>Hierfür gibt es Datenbanken. Sie sorgen dafür das die Daten optimiert und <em>sicherer</em> gespeichert werden.</p>
    <p>Je nach Anwendungsfall gibt es auch weiter optimierte Datenbanken, die in einer Niche besonders gut sind.</p>
  </section>

  <section>
    <h3>Relationale Datenbanken</h3>
  </section>

  <section>
    <p>In einer Relationelen Datenbank werden Daten strukturiert abgelegt. Hierfür muss die "Form" der zu speichernden Daten vordefiniert sein.</p>
    <p>Daten in Relationelen Datenbanken werden in Tabellen gespeichert. Tabellen können miteinander Verknüpft werden (sie haben eine relation zueinander).</p>
  </section>

  <section>
    <h3>Nicht-Relationale Datenbanken</h3>
  </section>

  <section>
    <p>Auch genannt "NoSQL"-Datenbanken, verfolgt den genau Gegenteiligen Ansatz einer relationelen Datenbank. Daten werden in einer strukturierten Art und Weise (z.B. JSON) abgelegt.</p>
    <p>Das Ziel der abgelegten Daten ist hier aber dabei nicht relationel aufgebaut, alle notwendigen Informationen sollten eher in einem "Dokument" gespeichert sein.</p>
  </section>

  <section>
    <h3>In-Memory Datenbanken</h3>
  </section>

  <section>
    <p>Diese Art von Datenbanken sind spezieller Natur. Daten werden primär im Arbeitsspeicher abgelegt.</p>
    <p>Die abgelegten Daten sind normalerweise in einer einfachen Datenstruktur (z.B. Strings) gespeichert.</p>
  </section>

  <section>
    <h3>Weitere (speziellere) Datenbanken</h3>
  </section>

  <section>
    <ol>
      <li>Time-Series-Datenbanken</li>
      <li>Graphdatenbanken</li>
      <li>Objektdatenbanken</li>
      <li>Geodatenbanken</li>
    </ol>
  </section>

  <section>
    <h3>SQLite</h3>
  </section>

  <section>
    <p>In unserem kurzen Kurs versuchen wir es einfach und standardisiert zu halten.</p>
    <p>Hierzu verwenden wir das vereinfachte Datenbank-System "SQLite".</p>
    <p>SQLite ist eine relatione Datenbank. Die Inhalte werden dabei innerhalb einer Datenbank-Datei lokal gespeichert, eine eigene Datenbank-Applikation ist hierbei nicht notwendig, alle Transaktionen werden durch eine eigene Bibliothek gemanaged.</p>
  </section>
</section>