---
import TitleSlide from './title.astro'
import Basics from './basics.astro'
import Responsiveness from './responsive.astro'
---

<div class="slides">
  <TitleSlide />
  <Basics />
  <Responsiveness />
</div>