<section>
  <h2>01. Oktober 1994 - Gründung des W3C</h2>
  <p>Tim Berners Lee gründet das "World Wide Web Consortium" (W3C) am MIT. Das W3C wird zukünftig dafür zuständig sein, Technologien im Web zu Standardisieren.</p>
  <p>Tim Berners Lee befürchtete, dass du inkonsistente Nutzung, Verknüpfungen im Web nutzlos gemacht werden würden. Deswegen sollten Speizifkationen zu den Entwickelten Technologien in der Internet Engineering Task Force (IETF) standardisiert werden.</p>
</section>