<section>
  <dl>
    <dt>13. Oktober 1994</dt>
    <dd>Netscape Navigator wird erstmalig veröffentlicht</dd>

    <dt>08. Juni 1995</dt>
    <dd>PHP Tools (Personal Home Page Tools) werden in Version 1 veröffentlicht</dd>

    <dt>15. August 1995</dt>
    <dd>Internet Explorer 1.0 wird von Microsoft veröffentlicht und mit Windows 95 als Teil von "Microsoft Plus!" vertrieben.</dd>
  </dl>
</section>