<section>
  <dl>
    <dt>04. Dezember 1995</dt>
    <dd>JavaScript betritt die Bühne. Als Bestandteil des Netscape Navigator sollte die neue Sprache statische Inhalte im Web dynamischer machen. Auch wenn der Name "Java" beinhaltet, so hat JavaScript keinen Bezungspunkt zu Java.</dd>

    <dt>24. November 1995</dt>
    <dd>HTML 2.0 wird veröffentlicht und baut auf dem bereits vorhandenen HTML 1 auf und erweitert dieses.</dd>
  </dl>
</section>