<section>
  <dl>
    <dt>01. Juni 1997</dt>
    <dd>ECMAScript erscheint und dient als Standardisierung von (unter anderem) JavaScript, um eine Cross-Browser Interoperabilität zu gewährleisten</dd>

    <dt>12. Februar 1998</dt>
    <dd>XML Version 1.0 erscheint</dd>

    <dt>08. März 2000</dt>
    <dd>Das Protokol SOAP (<b>S</b>imple <b>O</b>bject <b>A</b>ccess <b>P</b>rotocol) wird veröffentlicht</dd>

    <dt>12. November 2002</dt>
    <dd>Die Datenbeschreibungs-Sprache JSON (<b>J</b>ava<b>S</b>cript <b>O</b>bject <b>N</b>otation) wird entwickelt</dd>
  </dl>
</section>