---
import W3C from './001_W3C.astro'
import Additional1 from './002_Additional-inventions.astro'
import Additional2 from './003_Additional-inventions.astro'
import Additional3 from './004_Additional-inventions.astro'
---

<>
  <W3C />
  <section>
    <section>
      <h2>Weitere Wichtige Erfindungen nach der Gründung des W3C</h2>
    </section>
    <Additional1 />
    <Additional2 />
    <Additional3 />
  </section>
</>