<section>
  <h2>Was genau ist HTML?</h2>
  <p>
    HTML ist eine Auszeichnungssprache die vorgibt wie eine Website strukturiert ist.
    HTML besteht aus <strong>Tags</strong> die ineinander geschachtelt werden können.
  </p>
</section>