---
import TitleSlide from './title.astro'
import EarlyBeginnings from './early-beginnings/index.astro'
import AfterInception from './after-inception/index.astro'
---

<div class="slides">
  <TitleSlide />
  <EarlyBeginnings />
  <AfterInception />
</div>