---
import TitleSlide from './title.astro'
import Introduction from './introduction.astro'
import UrlSlide from './url.astro'
import ATag from './a.astro'
import Structure from './structuring.astro'
---

<div class="slides">
  <TitleSlide />
  <Introduction />
  <UrlSlide />
  <ATag />
  <Structure />
</div>