<section>
  <section>
    <h2>Was das Internet ausmacht</h2>
    <p>Verlinkungen zwischen Unterseiten und zu anderen Webseiten</p>
  </section>

  <section>
    <p>
      Wenn wir über Verlinkungen jedweder Art sprechen, beziehen wir uns dabei auf "Hyperlinks".
      <br><br>
      Verlinkt werden kann alles, was auch als "Resource" im Internet erreichbar ist.
      <br><br>
      Also nicht nur andere HTML-Seiten sondern auch Bilder, Videos und andere Datei-Typen.
    </p>
  </section>

  <section>
    <p>Eine Verlinkung zu einem anderen Dokument erfolgt über eine URL (anderer Name: URI)</p>
  </section>
</section>