---
import Title from "./title.astro";
import HistoryApi from "./history.astro";
import FilesApi from './files.astro';
import IntersectionApi from './intersection.astro';
import ProxyApi from './proxy.astro';
import StorageApi from "./storage.astro";
---

<div class="slides">
	<Title />
	<HistoryApi />
	<StorageApi />
	<FilesApi />
	<IntersectionApi />
	<ProxyApi />
</div>

