<section>
  <section>
    <h2>Texte stylen</h2>
  </section>

  <section>
    <p>Texte bilden den Grundpfeiler in der Übermittlung von Informationen (Audio-Visuelle Medien ausgeschlossen)</p>
    <p>Entsprechend bietet CSS ein sehr breites Spektrum um Texte zu stylen</p>
  </section>

  <section>
    <h3>Größen und Abstände</h3>
  </section>
  <section>
    <p>Zeichengröße lässt sich mithilfe von <code>font-size</code> modifizieren</p>
  </section>
  <section>
    <h4>Welche Einheit?</h4>
  </section>
  <section>
    <ul>
      <li><code>px</code> - Pixelwerte</li>
      <li><code>em</code> - Element</li>
      <li><code>rem</code> - Root-Element</li>
      <li><code>cm/in/mm</code> - Standard-Maßeinheiten (Metrisch und Imperial)</li>
    </ul>
  </section>
  <section>
    <p>Aber welche Einheit für Schriften?</p>
  </section>
  <section>
    <ul>
      <li><code>px</code> - Skaliert nicht (Browser-Zoom)</li>
      <li><code>em</code> - Skaliert auf Basis des Parent-Element</li>
      <li><code>rem</code> - Skaliert auf Basis des root-Element (HTML)</li>
      <li><code>cm/in/mm</code> - Für Print</li>
    </ul>
  </section>
  <section>
    <p>Aber, was ist den nun ein <code>REM</code>?</p>
  </section>
  <section>
    <p>Kurz: Normalerweise entspricht 1rem = 16px</p>
    <p>Dies stammt aus den frühen Tagen des Webs, in dem 16px als gut lesbar und nicht zu groß empfunden wurde (für die damaligen Monitore)</p>
  </section>

  <section>
    <pre class="css"><code data-trim data-line-numbers is:raw>
      .font-large {
        font-size: 8rem;
      }
    </code></pre>
    <div class="apply-styles one">
      <p class="font-large">
        Ich bin 8rem groß!
      </p>
    </div>
  </section>
  
  <section>
    <h4><code>letter-spacing</code></h4>
    <p>Mithilfe dieser Einstellung, lässt sich der Abstand zwischen einzelnen Characters ändern</p>
  </section>
  <section>
    <pre class="css"><code data-trim data-line-numbers is:raw>
      .letter-spacing {
        letter-spacing: 8px;
      }
    </code></pre>
    <div class="apply-styles one">
      <p class="letter-spacing">
        8px Abstand zwischen Buchstaben!
      </p>
    </div>
  </section>

  <section>
    <h4><code>line-height</code></h4>
    <p>Zeilenabstände modifizieren</p>
  </section>
  <section>
    <pre class="css"><code data-trim data-line-numbers is:raw>
      .line-height {
        line-height: 20px;
      }
    </code></pre>
    <div class="apply-styles one">
      <p class="line-height">
        20px Abstand <br>
        zwischen 2 <br>
        Zeilen!
      </p>
    </div>
  </section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
</section>