<section>
  <section>
    <h2>Die Tabelle etwas besser strukturieren</h2>
  </section>

  <section>
    <p>
      Neben <code>table,tr</code> und <code>td</code>, gibt es auch Tags um eine Tabelle etwas besser zu strukturieren
    </p>
  </section>
</section>