<section>
  <section>
    <h2>Wie wir unseren Website "hosten"</h2>
  </section>

  <section>
    <p>Wir haben nun unseren optimierten Code bei uns liegen, wie kommt also der Inhalt von dir zu mir?</p>
    <p>Nun der Code der bei uns liegt, wird nicht dort bleiben. Wir müssen die Website in einem Web-Server ablegen und diesen Server korrekt konfigurieren.</p>
  </section>

  <section>
    <p>Je nach Anwendungsfall gibt es hierfür verschiedene Optionen.</p>
    <p>Da wir bis jetzt nur eine statische Website erstellt haben, ist ein einfacher Webserver, der Dateien "ausliefern" kann, vollkommen ausreichend.</p>
  </section>

  <section>
    <p>Mögliche Server-Applikationen für einen statischen Web-Server:</p>
    <ul>
      <li>nginx ("Hoher" Konfigurationsaufwand, existiert bereits länger)</li>
      <li>Caddy (Moderner mit weniger Konfigurationsaufwand)</li>
      <li>Viele Weitere...</li>
    </ul>
  </section>

  <section>
    <p>Unser Ziel ist es, die fertig gebaute Website an einem für den Web-Server geeigneten Ort abzulegen, sodass die Dateien ausgeliefert werden können.</p>
    <p>Wir werden unsere Arbeit aber nicht direkt auf unserem PC "laufen" lassen. Wir verwenden die Virtualisierungs-Software "Docker" um unsere Applikation lokal zu testen und später im Internet laufen zu lassen.</p>
  </section>
</section>