---
import Title from "./title.astro";
import Build from "./build.astro";
import FileServer from "./file-server.astro";
import Docker from "./docker.astro";
---

<div class="slides">
  <Title />
  <Build />
  <FileServer />
  <Docker />
</div>