<section>
  <section>
    <h2>Bessere Webserver mit Fastify</h2>
  </section>

  <section>
    <p>Wir haben in den vorangegenangenen Folien gesehen, wie man einen einfachen Web-Server in NodeJS erstellt.</p>
    <p>Moderne Features wie Routing-Logik, Logging, Error-Handling und weitere Features waren nicht mit inbegriffen.</p>
    <p>Wir wollen das auch nicht selber schreiben. Hierfür wurde das Rad unzählige male für verschiedenste Problemstellungen neu Entwickelt.</p>
  </section>

  <section>
    <p>Eines dieser vielen Räder schauen wir uns genauer an: Fastify</p>
    <p>Fastify ist ein modernes Web-Framework um seinen eigenen Web-Server zu bauen. Es bietet die vorher erwähnten Features und hat darüber hinaus noch mehr zu bieten.</p>
    <p>Das wichtigste aus meiner Sicht: Eine solide TypeScript Unterstützung.</p>
  </section>

  
</section>