---
import Title from "./title.astro";
import Plain from "./plain.astro";
import Protocols from './protocols.astro';
import Fastify from "./fastify.astro";
---

<div class="slides">
  <Title />
  <Plain />
  <Protocols />
  <Fastify />
</div>