<section>
	<section>
		<h2>Erste Schritte mit TypeScript</h2>
	</section>

	<section>
		<p>Versehen wir nun mal einfache Variablen mit einer Typisierung</p>
		<pre class="ts"><code data-trim data-line-numbers>
			const x: number = 5;
			const y: string = "Hallo Welt!";
			const isFalse: boolean = false;
		</code></pre>
	</section>

	<section>
		<p>In TypeScript erhalten Variablen einen Typ, indem nach dem Namen ein Doppelpunkt mit der Typ-Deklaration folgt.</p>
		<p>Standard-Typen umfassen in der Regel <code>string, number, boolean, undefined, null</code>.</p>
	</section>

	<section>
		<p>Bei der Interaktion mit den Variablen sollten nun Informationen zu den Variablen besser angezeigt werden.</p>
		<p>Sehen wir uns nun das Beispiel mit einer String-Variable an.</p>
	</section>
</section>
