---
import Title from "./title.astro";
import Introduction from "./introduction.astro";
import Installation from "./installation.astro";
import Basics from "./basics.astro";
import Objects from "./objects.astro";
import Generics from "./generics.astro";
import Functions from './functions.astro';
---

<div class="slides">
  <Title />
  <Introduction />
  <Installation />
  <Basics />
  <Objects />
  <Generics />
  <Functions />
</div>