<section>
  <section>
    <h2>Elemente aus dem DOM entfernen</h2>
  </section>

  <section>
    <p>Elemente die wir in einer Variable haben, können wir mit <code>remove()</code> auf dem Element aus dem DOM entfernen.</p>
  </section>

  <section>
    <pre class="js"><code data-trim data-line-numbers is:raw>
      const toRemove = document.getElementById('test');

      toRemove.remove();
    </code></pre>
  </section>
</section>