---
import Title from "./title.astro";
import GettingElements from "./getting-elements.astro";
import ModifyElements from "./modify-elements.astro";
import InsertElements from "./insert-elements.astro";
import DeleteElements from "./delete-elements.astro";
import Forms from "./forms.astro";
import Events from "./events.astro";
---

<div class="slides">
  <Title />
  <GettingElements />
  <ModifyElements />
  <InsertElements />
  <DeleteElements />
  <Events />
  <Forms />
</div>