---
import TitleSlide from './title.astro'
import TagSlides from './tags/index.astro'
import Structure from './structure/index.astro'
---

<div class="slides">
  <TitleSlide />
  <TagSlides />
  <Structure />
</div>