---
import Title from "./title.astro";
import Introduction from "./introduction.astro";
import Promises from "./promises.astro";
import Callbacks from "./callbacks.astro";
import Async from "./async.astro";
import EventLoop from "./eventloop.astro";
import Helper from "./helper.astro";
---

<div class="slides">
  <Title />
  <Introduction />
  <Callbacks />
  <EventLoop />
  <Promises />
  <Async />
  <Helper />
</div>