---
import TitleSlide from './title.astro'
import Introduction from './introduction.astro'
import Basics from './basics.astro'
import Structuring from './structuring.astro'
import Inputs from './inputs.astro'
import MoreInputs from './beyond-text.astro'
import Validation from './validation.astro'
---

<div class="slides">
  <TitleSlide />
  <Introduction />
  <Basics />
  <Structuring />
  <Inputs />
  <MoreInputs />
  <Validation />
</div>