<!-- https://developer.mozilla.org/en-US/docs/Learn/Forms -->
<section>
  <section>
    <p>Bisher haben wir HTML nur dazu verwendet, etwas anzuzeigen.</p>
    <p>Aber natürlich hat jeder von uns schon einmal Daten in irgendeiner Form auf einer Website eingegeben</p>
  </section>

  <section>
    <ul>
      <li>Registrierung / Anmeldung</li>
      <li>Adresseingabe</li>
      <li>Zahlungsmittel angeben</li>
      <li>Eine Beschwerde / Kommentar / Lob schreiben</li>
    </ul>
  </section>

  <section>
    <p style="font-size: 12rem;">🍕</p>
  </section>

  <section>
    <p>
      Wenn auch vieles heutzutage auf Apps gemacht wird, wird euch regelmäßig eine Webform innerhalb einer App über den Weg laufen.
    </p>
  </section>
  
  <section>
    <ul>
      <li>Komplexes Szenario einer Pizzabestellung</li>
      <li>Kommentare</li>
      <li>Reisebuchungen</li>
      <li>etc.</li>
    </ul>
  </section>
  
  <section>
    HTML bietet eine Reihe von Tags um Daten einzugeben, zu sammeln und diese final an einen Server zu schicken um dort bearbeitet zu werden.
  </section>
</section>