<section>
  <section>
    <h2>
      <strong>p</strong>aragraph &amp; div
    </h2>
    <p>Zwei der fundamentalsten Baublöcke</p>
  </section>

  <section>
    <h3>Das &lt;p&gt;aragraph Tag</h3>
    <ul>
      <li>Das p-Tag repräsentiert einen Paragraphen im HTML-Dokument</li>
      <li>Es ist ein Block-Element (es nimmt die volle Breite das Parents ein)</li>
      <li>Es bietet minimales Styling: Abstände über und unter dem Paragraphen</li>
      <li>Kann kein geschachteltes Block-Element beinhalten</li>
    </ul>
  </section>

  <section>
    <h3>Das &lt;div&gt; Tag</h3>
    <ul>
      <li>Ist ein ungestyltes Block-Element</li>
      <li>Dient zur Gruppierung von Inhalten</li>
      <li>In der Regel zum Layout von Kind-Elementen verwendet</li>
    </ul>
  </section>
</section>