<section>
  <section>
    <h2>Hilfreiche Tags</h2>
  </section>

  <section>
    <h3><code>&lt;br/&gt;</code></h3>
    <ul>
      <li>Ein selbstschließendes Tag</li>
      <li>Erzeugt einen Zeilenumbruch in HTML</li>
    </ul>
  </section>

  <section>
    <h3><code>&lt;hr&gt;</code></h3>
    <ul>
      <li>Erzeugt in visuelles Trennelement in Form eines Striches</li>
    </ul>
  </section>
</section>