<section>
  <section>
    <h2>Überschriften</h2>
  </section>

  <section>
    <p>
      Überschriften in HTML werden in 6 Ebenen deklariert:
    </p>
    <ol>
      <li><code>h1</code></li>
      <li><code>h2</code></li>
      <li><code>h3</code></li>
      <li><code>h4</code></li>
      <li><code>h5</code></li>
      <li><code>h6</code></li>
    </ol>
  </section>

  <section>
    <p>Überschriften werden von h1 zu h6 von einer großen Auffälligen, zu einer kleinen (Unter)-Überschrift dargstellt.</p>
  </section>

  <section>
    <h3>"Regeln" für Überschriften</h3>
    <ol>
      <li>Jede Seite sollte nur ein &lt;h1&gt; besizten (und ähnlich bzw. gleich zum Dokumenten-Titel sein)</li>
      <li>Es sollte auf die Reihenfolge der Überschriften geachtet werden (kein h3 nach einem h1, sondern ein h2)</li>
      <li>Oft sollten die Überschriften mit einer <code>id</code> versehen werden (dies hilft, Verlinkungen auf Untersektionen zu kreiren)</li>
    </ol>
  </section>

  <section>
    <p>
      Die korrekte Verwendung von Überschriften dient Nutzern zum zurechtfinden innerhalb einer Website (besonders für Nutzer von assistiven Technologien, hilft aber auch für Suchrankings (Stichwort: SEO))
    </p>
  </section>
</section>