---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Impressum">
  <h1>Impressum</h1>
  <p style="margin-bottom: 3rem;">
    Angaben gemäß § 5 TMG:
    <br><br>
    Denis Ergin <br>
    Albgaustraße 3a <br>
    76337 Waldbronn
    <br><br>
    Kontakt: <br>
    E-Mail: kontakt@denis-ergin.de
  </p>
  <p>
    Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:
    <br>
    Denis Ergin <br>
    Albgaustraße 3a <br>
    76337 Waldbronn
  </p>
</Layout>
