---
import Title from "./title.astro";
import IfElse from './if-else.astro';
import SwitchCase from './switch-case.astro';
import Loops from './loops.astro';
---

<div class="slides">
  <Title />
  <IfElse />
  <SwitchCase />
  <Loops />
</div>