<section>
  <section>
    <h2>Loops / Schleifen</h2>
  </section>

  <section>
    <p>Alle bekannten Schleifen die man wahrscheinlich aus anderen Programmiersprachen kennt, gibt es auch in JS</p>
    <ul>
      <li>while</li>
      <li>do-while</li>
      <li>for</li>
    </ul>
  </section>

  <section>
    <p>Die Syntax ist auch der zu C oder Java sehr ähnlich / gleich</p>
    <pre class="js"><code data-trim data-line-numbers is:raw>
      // Kopfgesteuert
      while (/* Condition */) { /* Code to Execute */ }

      // Fußgesteuert
      do { /* Code to Execute */} (/* Condition */)

      // Zählschleife
      // for (init; condition; "afterthought")
      for (let i = 0; i &lt; 5; i++) {
        /* Code to Execute */
      }
    </code></pre>
  </section>

  <section>
    <p>Eine Realität aus meiner Sicht als Webentwickler:</p>
    <p>Ich verwende Schleifen in dieser Form nur noch sehr selten.</p>
    <p>Wenn wir mit Arrays und dergleichen Arbeiten, gibt es bereits eine Menge an "Convenience"-Features, die wir verwenden können um über alle Inhalte eines Arrays zu iterrieren / manipulieren / testen.</p>
  </section>
</section>