<section>
  <section>
    <h2>Switch-Case</h2>
  </section>

  <section>
    <p>Auch in JavaScript haben wir die Möglichkeit mehrere Möglichkeiten einer Variable abzufragen.</p>
    <pre class="js"><code data-trim data-line-numbers is:raw>
      const num = 42;
      switch (num) {
        case 1:
          break;
        case 42: 
          // Code hier wird ausgeführt
          break;
        default:
          // Falls kein 'case' matched
      }
    </code></pre>
  </section>

  <section>
    <p>Es gibt leider keine Möglichkeit Funktionsaufrufe zum testen zu machen, hierfür müssen andere Optionen in Erwägung gezogen werden.</p>
  </section>
</section>