---
import Title from "./title.astro";
import Destructure from "./destructure.astro";
import SpreadOperator from "./spread-operator.astro";
import RestParameter from "./rest-parameter.astro";
---

<div class="slides">
  <Title />
  <Destructure />
  <SpreadOperator />
  <RestParameter />
</div>