---
import Link from "./atoms/Link.astro"
---

<footer>
  <div class="col">
    
    <Link to="/impressum">Impressum</Link>
  </div>
</footer>

<style lang="scss">
footer {
  min-height: 50px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem;
}
</style>