<section>
  <section><h2>Einführung in den Lösungsprozess "Design Thinking"</h2></section>

  <section>
    <p>Design Thinking ist ein Prozess, der in letzten Jahren viel "Traktion" erhalten hat. Mit Design Thinking will man Probleme lösen und neue Ideen Entwickeln.</p>
    <p>Eine Grundidee hierbei ist, dass Personen aus verschiedenen Bereichen in diesem Prozess teilnehmen. Damit sollen möglichst viele Perspektiven zu einer Problemstellung erreicht werden.</p>
  </section>

  <section>
    <p>Nach Definition benötigt es drei Kernaspekte, um gelungene Lösungen und Innovationen zu entwickeln:</p>
    <ol>
      <li>Es soll ein Nutzen für den Menschen entstehen</li>
      <li>Die Lösung muss technisch umsetzbar sein</li>
      <li>Aus Wirtschaftlicher Sicht benötigt die Lösung eine "Marktfähigkeit"</li>
    </ol>
  </section>

  <section>
    <p>Im Verlauf der Vorlesung werden wir einen "6-Schritte-Ansatz" des Hasso-Plattner Instituts verwenden um einen Design-Thinking-Zyklus zu bestreiten.</p>
    <p>Mit dieser Methodik trennen wir unser "Projekt" in 2 grobe Bereiche auf: Ein Problemraum und einen Lösungsraum. Jeder dieser Räume enthält drei Schritte mit denen wir ans Ziel kommen sollen.</p>
  </section>

  <section>
    <p>Wichtig ist zu beachten, dass jeder Schritt zu einem anderen Schritt springen kann, basierend welche Informationen wir haben oder noch benötigen.</p>
    <p>Design Thinking ist ein iterativer Prozess (analog zur klassischen Software Entwicklung).</p>
  </section>
</section>