<section>
  <section>
    <h4>Sichtweise definieren</h4>
  </section>

  <section>
    <p>In diesem dritten Schritt treffen wir eine erste "Entscheidung": Wir definieren unsere Sichtweise. Dazu haben wir verschiedene "Tools".</p>
    <p>Mithilfe der Sichtweise werden wir eine "Design Challenge" definieren, die in der 2. Hälfte des Prozesses als Zielsetzung dient.</p>
  </section>

  <section>
    <h5>Personas</h5>
  </section>

  <section>
    <p>Personas sind eine möglichst akurate Beschreibung einer fiktiven Person, die ein möglicher Nutzer für unsere Applikation ist.</p>
    <p>Vorgestellte Eigenschaften sollen ein gesamtheitliches Bild des Nutzers für alle im Projekt teilnehmenden Personen darstellen. Dazu gehören klassische Demografische Merkmale wie das Alter. Zusätzlicher gehören aber auch z.B. Zitat zur Persona die deren Wünsche und Anforderungen an das zu entwickelnde Produkt abbilden.</p>
  </section>

  <section>
    <p>Eine Persona sollte einen relevanten Teil einer Nutzergruppe für unsere zu entwickelnde Applikation abbilden.</p>
    <p>Entsprechend sollte es auch mehrere Personas geben. Für jede Relevante Nutzergruppe eine Persona.</p>
  </section>

  <section>
    <h5>User-Journey-Map</h5>
  </section>

  <section>
    <p>Mit unserer Entwickelten Persona können wir nun auf eine "Reise" gehen. Genauer gesagt auf eine Nutzer-Reise (User-Journey).</p>
    <p>Mit den bisher gesammelten Informationen können wir einen kompletten Anwendungsfall definieren, den eine Person in der Theorie hat.</p>
  </section>
  
  <section>
    <p>Dabei wird nicht nur ein Fokus auf die unmittelbare Nutzung unseres Produktes gelegt, sondern wie die Persona dazu gekommen ist, das Produkt zu nutzen, sowie wie es nach der erfolgreichen unmittelbaren Nutzung weiter geht (optional).</p>
    <p>Zusätzliche Informationen in einer User-Journey-Map sind z.B. die empfundenen Emotionen der Persona während der Journey, sowie mögliche Kommentare die getätigt werden könnten.</p>
  </section>

  <section>
    <p>Bevor wir uns mit dem Lösungsraum auseinander setzten, können wir nun diese "Position" nutzen, um eine kurze Re-Iteration durchzuführen. Wir wollen nochmal betrachten, welches Problem nun wirklich gelöst werden soll.</p>
    <p>Gängigerweise wird wird hier eine Fragestellung erarbeitet, um eine Prüfbare Situation zu erschaffen. Eine Solche Frage könnte lauten:</p>
  </section>

  <section>
    <p>
      <em>
        Wie kann ich meinen Studenten dabei helfen, sich bestmöglich mit dem Modul Web-Engineering I auseinander zu setzen, auch wenn sie keine Karriere in dieser "Niche" anstreben?
      </em>
    </p>
  </section>
</section>