<section>
  <section>
    <h4>Ideen finden</h4>
  </section>

  <section>
    <p>Nun fängt der womöglich <em>intensivste</em> Teil im Design Thinking an. Wir entwickeln Ideen um das vorangegangene Problem zu lösen (Design-Challenge).</p>
    <p>In diesem Schritt teilen sich die Projektmitglieder in kleinere Gruppen ein, Ziel ist es verschiedene Lösungen für das gleiche Problem zu erarbeiten.</p>
  </section>

  <section>
    <p>Es werden verschiedene Methoden und Theorien verwendet um auf eine oder mehrere Lösungen zu kommen. Auch in diesem Abschnitt des Design Thinkings wird iterativ gearbeitet um Ideen und Lösungen zu verfeinern.</p>
    <p>Je nachdem, was für ein Problem wir lösen, haben wir aus unserem UX-Koffer verschiedene Ansätze</p>
  </section>

  <section>
    <p>Als Menschen haben wir einen "Bausatz" wie wir die Welt um uns herum wahrnehmen und verarbeiten. Die Psychologie hilft uns dabei diesen Bausatz zu verstehen.</p>
    <p>Als Designer können wir dieses Wissen verwenden um intuitivere, Menschenzentrierte Produkte und Erfahrungen zu kreieren.</p>
    <p>Anstatt einen Nutzer ein neues Verhalten aufzuzwingen, können wir Prinzipien der Psychologie dazu verwenden eine Unterbewusste "Führung" zu erstellen, die besser auf unseren Nutzer anspricht.</p>
  </section>

  <section>
    <p>Nachfolgend möchte ich euch ein paar dieser Theorien vorstellen.</p>
  </section>

  <!-- --- -->

  <section>
    <h5>Jakob's Law</h5>
    <p><em>Nutzer verbringen einen großteil der Zeit auf anderen Platformen. Der Nutzer tendiert also dazu UI-Paradigmen aus anderen Platformen zu bevorzugen, die er bereits kennt.</em></p>
  </section>

  <section>
    <p><strong>Erwartung</strong></p>
    <p>Die Nutzer werden ihre Erwartungen, die sie an ein vertrautes Produkt geknüpft haben, auf ein anderes übertragen, das ähnlich aussieht.</p>
  </section>

  <section>
    <p><strong>Unstimmigkeiten minimieren</strong></p>
    <p>Bei Änderungen sollte den Nutzern eine gewisse Zeit lang eine (alt)-bekannte Version zur Verfügung gestellt werden um Unstimmigkeiten bei großen Änderungen zu minimieren.</p>
  </section>

  <!-- --- -->

  <section>
    <h5>Parkinson's Law</h5>
    <p><em>Jede Aufgabe "bläht" sich solange auf, bis die Verfügbare Zeit aufgebraucht ist.</em></p>
  </section>

  <section>
    <p><strong>Zeitlimits</strong></p>
    <p>Wir sollte die Zeit limitieren die es braucht eine Aufgabe zu beenden, die ein Nutzer erwarten würde.</p>
  </section>

  <section>
    <p><strong>Dauer</strong></p>
    <p>Wenn wir die tatsächliche Zeit um eine Aufgabe abzuschließen reduzieren, wird dies positiv aufgenommen.</p>
  </section>

  <section>
    <p><strong>Autofill</strong></p>
    <p>Funktionen wie "Autofill", die die Eingabezeit bei notwendigen Eingaben deutlich Reduzieren. Dies sorgt für eine schnellere Bearbeitung von Aufgaben wie der Kauf von Online-Produkten.</p>
  </section>

  <!-- --- -->

  <section>
    <h5>Stroop Effect</h5>
    <p>Die Unstimmigkeit, die ensteht, wenn wir versuchen zwei widersprüchliche Attribute miteinander zu verknüpfen.</p>
  </section>

  <section>
    <p><strong>Reaktionszeit</strong></p>
    <p>Unsere Reaktionszeit verzögert sich, wenn wir mental versuchen Informationen zu verarbeiten, die in wiederspruch zueinander stehen.</p>
    <p>Beispiele: (Grüner Himmel, Lila Gras, Rote Zitrone, Blauer Apfel)</p>
  </section>

  <section>
    <p><strong>Kontext berücksichtigen</strong></p>
    <p>Das Design von Interaktiven Elementen sollte im Kontext Sinn machen. Als Beispiel sollte eine "Jetzt Kaufen" Button auf einer Website nicht das gleiche Design wie ein "Abbrechen" Button aufweisen.</p>
  </section>

  <!-- --- -->

  <section>
    <h5>Hick's Law</h5>
    <p>Die Zeit, die wir benötigen um eine Entscheidung zu treffen, erhöht sich mit der Anzahl und Komplexität der Auswahlmöglichkeiten.</p>
  </section>

  <section>
    <p><strong>Auswahl Reduzieren</strong></p>
    <p>Durch die Verringerung einer Auswahl, in Situationen in denen eine schnelle Entscheidung notwendig ist, reduziert die Entscheidungszeit.</p>
  </section>

  <section>
    <p><strong>Kleinere Schritte</strong></p>
    <p>Durch die Aufteilung von komplizierten Aufgaben in kleinere Schritte, können wie den mentalen Aufwand reduzieren.</p>
  </section>

  <section>
    <p><strong>Empfehlungen</strong></p>
    <p>Durch die Platzierung von Empfehlungen können wir eine Überforderung bei Nutzern vorbeugen.</p>
  </section>

  <!-- --- -->

  <section>
    <h5>Das Prinzip des geringsten Aufwandes</h5>
    <p>Menschen tendieren dazu den Pfad auszuwählen, der den geringsten Mentalen und / oder Physischen Aufwand benötigt, um abgeschlossen zu werden.</p>
  </section>

  <section>
    <p><strong>Zeigen, nicht erzählen</strong></p>
    <p>Wenn es die notwendigkeit gibt, dem Nutzer etwas zu erklären, dann ist es besser konkrete Beispiele mit Erklärungen zu verwenden, anstatt es nur zu erklären.</p>
  </section>

  <section>
    <p><strong>Schrittweise Erweiterung</strong></p>
    <p>Es ist besser Inhalte Stück für Stück anzuzeigen, anstatt den gesamten Inhalt auf einmal zu präsentieren. Außerdem ist es gut, den Nutzern die Möglichkeit zu geben ob sie weitere Inhalte sehen wollen oder nicht.</p>
  </section>
</section>