<section>
  <section>
    <h4>Beobachten</h4>
  </section>

  <section>
    <p>Um unser Problem besser zu verstehen und um unsere Hypothesen zu bestätigen (oder zu widerlegen) müssen wir uns "harte Fakten" beschaffen.</p>
    <p>Vorrangiges Ziel ist es auf Nutzer:innen und Betroffene zuzugehen und mit diesen zu sprechen. Dabei wollen wir auch auf empathischer Ebene ein Verständnis für den Nutzer und dessen Problem entwicklen.</p>
  </section>

  <section>
    <p>Eine Aussage die im Laufe dieses Schritt entstehen soll ist, ob das Problem das zuvor benannt wurde, auch tatsächlich existiert.</p>
    <p>Je nach Ergebnis ist es möglich kleinere Korrekturen an den Annahmen zu treffen, oder diese komplett zu überarbeiten.</p>
  </section>

  <section>
    <h5>Nutzer-Interviews</h5>
  </section>

  <section>
    <p>Interviews lassen sich in 3 Kategorien einteilen:</p>
    <ol>
      <li>Strukturiert</li>
      <li>Semi-Strukturiert</li>
      <li>Nicht-Strukturiert</li>
    </ol>
  </section>

  <section>
    <p>Mit Interviews wollen wir Daten generieren. Diese wollen wir interpretieren und daraus lernen.</p>
    <p>Über Interviews haben wir die Möglichkeit Informationen folgender Art abzufragen:</p>
  </section>

  <section>
    <ul>
      <li>Gegenwärtige Fragen: Fragestellung zur Lösung eines Problems im gegenwärtigen Kontext</li>
      <li>Vergangene Fragen: Wie sich die der Prozess zur Lösung eines Problems in der Zeit gewandelt hat</li>
      <li>Zukünftige Fragen: Was sich der Nutzer zur Lösung eines Problems in der Zukunft vorstellen kann.</li>
    </ul>
  </section>

  <section>
    <p>Natürlich haben wir zu jedem Zeitpunkt auch die Möglichkeit andere oder vertiefende Fragen zu stellen:</p>
    <ul>
      <li>Pro's und Contra's zur aktuellen Lösung</li>
      <li>"Haben Sie das immer schon so gemacht?"</li>
      <li>Besondere Merkmale die dem Nutzer in den Sinn kommen</li>
      <li>Fragen zur Findung des Lösungsweges</li>
      <li>etc.</li>
    </ul>
  </section>

  <section>
    <h5>Fragebögen</h5>
  </section>

  <section>
    <p>Während Interviews eine größtenteils Qualitative Informations-Generierung sind, sind Fragebögen vornehmlich auf quantitative Informationsgewinnung ausgelegt.</p>
    <p>Wir haben hierbei auch die Problematik, dass wir nicht dynamisch auf Antworten eingehen können, sondern den Nutzer eher "durchleiten".</p>
    <p>Auch ist es wichtig, dass Fragebögen nicht zu "viel" abfragen. Da ein Nutzer in einem Fragebogen jederzeit die Möglichkeit hat, diesen auch abzubrechen falls "es ihn langweilt" (eine Option).</p>
  </section>

  <section>
    <p>Eine Option für Fragebögen ist die Verwendung von "Aussagebewertungen auf einer vorgegebenen Skala"</p>
    <p>Wir können damit <i>relativ</i> genau Informationen Abfragen ohne dass sich der Nutzer des Fragebogens zu viele Gedanken machen muss.</p>
  </section>

  <section>
    <h5>Feldforschung</h5>
  </section>

  <section>
    <p>Ziel der Feldforschung ist es, den Nutzer in seinem "natürlichen" Nutzungskontext zu beobachten.</p>
    <p>Stichpunkt ist hierbei <strong>beobachten</strong>. Wir wollen den Nutzer nicht ablenken sondern nur als passiver Beobachter Informationen sammeln.</p>
  </section>

  <section>
    <h5>Quantitative Nutzungsdaten aus eigener Datenaggregation</h5>
  </section>

  <section>
    <p>Mit dieser Methode werden Informationen beschrieben, die durch Tracking-Verfahren (nach Zustimmung des Nutzers) auf einer Website gesammelt werden.</p>
    <p>Hierbei können wir verschiedene Arten von Informationen erhalten:</p>
  </section>

  <section>
    <ul>
      <li>Klick-Strecke eines Nutzers</li>
      <li>Scroll-Heatmaps</li>
      <li>Verweildauer auf Seiten</li>
      <li>U.U. Mausbewegungen</li>
    </ul>
  </section>

  <section>
    <p>Mit der Beendigungen dieses zweiten Schrittes sollten wir echte Daten gewonnen haben. Diese Daten helfen uns ein tieferes Verständnis im Problemraum zu schaffen und zu testen ob die aufgestellen Annahmen korrekt waren.</p>
  </section>
</section>