<section>
  <section>
    <h4>Prototyp entwickeln</h4>
  </section>

  <section>
    <p>Mit den Entwickelten Lösungen können wir nun einen Prototypen erstellen. Damit ist aber nicht gemeint, das eine tatsächliche (Software) Lösung entwickelt werden muss.</p>
    <p>Vielmehr kann man alles was es gibt verwenden um das erarbeitete Konzept visuell darzustellen.</p>
  </section>

  <section>
    <ul>
      <li>Lego</li>
      <li>Papier</li>
      <li>Weitere Materialien</li>
      <li>Skizzen</li>
      <li>Theateraufführung</li>
    </ul>
  </section>
</section>