<section>
  <section>
    <h4>Testen</h4>
  </section>

  <section>
    <p>In direkten Versuchen dürfen die Gruppen untereinander die Lösungen "vertesten".</p>
    <p>Dabei werden neue Einblicke als auch Feedback zur erarbeiteten Lösung gesammelt.</p>
  </section>

  <section>
    <p>Weitere Schritte nach dem "vertesten" im Design-Thinking Prozess:</p>
  </section>

  <section>
    <p>In der Theorie würde eine Erarbeitete Lösung von allen Personen ausgewählt und tatsächlich implementiert werden.</p>
    <p>Zur Nutzerakzeptanz können Methoden wie "Feature Flags", Beta-Releases und "A/B-Tests" verwendet werden. Ziel ist, neue Features an einem bestimmten Anteil der Nutzerschaft zu testen, Fehler zu finden und Thesen zu prüfen, ehe die Lösung für alle Personen ausgerollt wird.</p>
  </section>
</section>