<section>
  <section>
    <h3>Unser Problem verstehen: Analyse im Problemraum</h3>
  </section>

  <section>
    <h4>Verstehen</h4>
  </section>

  <section>
    <p>Da im Design Thinking mehrere Bereiche bei der Erarbeitung beteiligt sind, ist es wichtig, dass zu Beginn ein gemeinsames Verständnis für das Problem entsteht.</p>
    <p>Mit dem erarbeiteten Verständnis für das Problem, sind wird dann auch in der Lage ein Ziel zu definieren, das erreicht werden will (mitunter mit Umwegen).</p>
  </section>

  <section>
    <h5>Stakeholder Interviews</h5>
  </section>

  <section>
    <p>In diesem Kontext verstehen wir Stakeholder als Personen oder Gruppen von Personen, die Teilhabe am Projekt (oder besser gesagt dem Resultat) haben. Dies sind unter anderem:</p>
    <ul>
      <li>Der Budget-Geber</li>
      <li>Vorraussichtlicher Nutzer der Software oder Person(en) mit direktem Kundenkontakt</li>
      <li>Das Entwicklungsteam</li>
      <li>Vertrieb & Marketing</li>
      <li>ggf. weitere Abteilungen / Personen</li>
    </ul>
  </section>

  <section>
    <p>All diese Personen werden auf die ein oder andere Art und Weise mit dem Produkt oder der Lösung arbeiten. Diese haben also auch ein berechtigtes Interesse am Erfolg des Projektes.</p>
    <p>Nicht jede Personengruppe hat die gleiche "Macht". Es ist wichtig seine Stakeholder zu kategorisieren. Es wird auch unter anderem eine Matrix angelegt, in der festgelegt welche Personen und Bereiche auf welche Art und Weisen informiert werden, wenn es Fortschritte im Projekt gibt.</p>
  </section>

  <section>
    <p><strong>Was ist das Ziel?</strong></p>
    <p>Das Stakeholder ist ein bi-direktionaler Austausch. Wir als Designer wollen den (wichtigsten) Personen unser Projekt vorstellen und einen Organisatorischen Rahmen bilden.</p>
    <p>Gleichzeitig wollen wir auch "Insider"-Informationen sammeln. Also Informationen die typischerweise nicht niedergeschrieben sind und nur einem kleinen Personenkreis bekannt sind, aber durchaus wichtig sein können.</p>
  </section>

  <section>
    <h5>Marktanalyse</h5>
  </section>

  <section>
    <p>In der Marktanalyse beobachten wir die Lösungen von Alternativen Produkten oder von Produkten von der Konkurrenz.</p>
    <p>Wir betrachten dabei die für uns wichtigen Interaktionspunkte und schätzen dabei ein ob diese das Produkt besser oder schlechte machen.</p>
    <p>Aus diesen Informationen können wir lernen, was wir gegenüber anderen Produkten verbessern können aber auch welche Fehler wir direkt vermeiden wollen.</p>
  </section>

  <section>
    <h5>Sekundär-Forschung</h5>
  </section>

  <section>
    <p>In der Sekundärforschung verwenden wir bereits existierende Informationen aus anderen Quellen um uns mit der Fragestellung des Problems auseinanderzusetzen.</p>
    <p>Die Informationen können durchaus verschiedener Natur sein:</p>
    <ul>
      <li>Statistische Auswertungen</li>
      <li>Forschungen</li>
      <li>Weitere Datenquellen...</li>
    </ul>
  </section>

  <section>
    <p>Damit ist unser erster Schritt im Design Thinking Prozess (ggf. fürs erste) abgeschlossen.</p>
    <p>Mit den gesammelten Informationen sollten wir nun Kernaussagen auf unsere Problemstellung definieren können. Aus den Kernaussagen können wir wiederum Hypothesen aufstellen.</p>
    <p>Mit diesen Hypothesen gehen wir in den 2. Schritt, in dem diese auf die Probe gestellt werden.</p>
  </section>
</section>