---
import Title from "./title.astro";
import UI from "./ui.astro";
import UX from './ux.astro';
// import Iso9241210 from "./iso-9241-210.astro";
import DesignThinkingIntro from "./design-thinking-intro.astro";
import Understand from './dt-understand.astro';
import Inspect from './dt-inspect.astro';
import DeclareView from './dt-declare-view.astro';
import Ideate from './dt-ideate.astro';
import Prototype from './dt-prototype.astro';
import Test from './dt-test.astro';
---

<div class="slides">
  <Title />
  <UI />
  <UX />
  <!-- <Iso9241210 /> -->
  <DesignThinkingIntro />
  <Understand />
  <Inspect />
  <DeclareView />
  <Ideate />
  <Prototype />
  <Test />
</div>