<section>
  <section>
    <h2>Nutzerzentriertes Design nach ISO 9241-210</h2>
  </section>

  <section>
    <p>Das Ziel der Norm ist es, interaktive System (Produkte sowie Dienstleistsungen) zu entwickeln, die eine gute Nutzbarkeit (Usability) erzielen.</p>
    <p>Dabei werden aber nicht nur theoretische Informationen gesammelt. Durch verschiedene Methoden werden Informationen direkt von echten Nutzern der Applikation gesammelt.</p>
  </section>

  <section>
    <p>Um ein gesamtheitliches Konzept zu erarbeiten, ist es dabei notwendig verschiedene Sichtweisen auf Probleme zu haben. Dies hilft dabei, verschiedene Bereiche einer Firma "abzuholen" und mit in die Gestaltung des Produktes einzubeziehen.</p>
  </section>

  <section>
    <strong>Strategische Sichtweise</strong>
    <p>Betrifft die Betrachtung aus der Gesamtheitlichen Firmenebene (Was sind die Geschäftsziele, was erwartet der Markt?)</p>
  </section>

  <section>
    <strong>Entwicklerische Sichtweise</strong>
    <p>Betrachtung von Trends in der Hardware- und Software-Entwicklung sowie langfristige Planung des Produktes auf Code-Ebene</p>
  </section>

  <section>
    <strong>Vermarktungssichtweise</strong>
    <p>Einbindung von Marketing und Sales in den Prozess zur verbesserten Vermarktung des Produktes</p>
  </section>

  <section>
    <strong>Gestaltungssichtweise</strong>
    <p>Fokus auf Nutzbarkeit für alle Nutzergruppen (Barrierefreiheit, Produkt-Design, Ergonomie)</p>
  </section>

  <section>
    <strong>Experten-Sichtweise</strong>
    <p>Konkrete Betrachtung von "Power-Nutzern". Dies betrifft sowohl die eigentlichen Nutzer eines Produktes als auch Personen mit Fachwissen in einer Domäne.</p>
  </section>

  <section>
    <h3>Planung</h3>
  </section>

  <section>
    <p>Ziel der Planung ist es, den Aufwand abzuschätzen um eine gute Usability und UX zu erreichen.</p>
    <p>Nach der Aufwandsabschätzung, müssen die Inhalte geplant werden:</p>
    <p>Identifikation von Methoden und Resourcen, Integration in andere Entwicklungstätigkeiten, Festlegung von Verantwortlichkeiten sowie von Informations und Rückmeldewegen, Definition von Meilensteinen und zeitliche Abgrenzung des Gestaltungsprozesses.</p>
  </section>

  <section>
    <h3>Verstehen und Beschreiben des Nutzungskontextes</h3>
  </section>

  <section>
    <p>In diesem Schritt versuchen wir eines zu verstehen: den IST-Zustand bei der Benutzung des Produktes (oder von verwandten Produkten).</p>
    <p>Selbst wenn wir ein neues Produkt auf "den Martk bringen wollen", sind wir wahrscheinlich nicht die ersten die das machen - beziehungsweise es gibt schon Methoden die Versuchen ein Problem zu lösen, es aber noch keine gesamtheitliche Lösung gibt.</p>
  </section>

  <section>
    <p>Wichtig sind dabei folgende Informationen:</p>
    <ul>
      <li>Wer sind die Stakeholder? (Nuzter und andere)</li>
      <li>Gibt es bei den Nutzern auffällige Merkmale? (Alter, Berufsstand, etc.)</li>
      <li>Welches Problem versucht der Nutzer zu lösen?</li>
      <li>Wann und Wo wird das Produkt genutzt?</li>
    </ul>
  </section>

  <section>
    <h3>Nutzungsanforderungen Festlegen</h3>
  </section>

  <section>
    <p>Mit den gesammelten Informationen wollen wir nun prüfbar formulieren. Diese prüfbaren Ziele müssen nicht unbedingt Änderungen in der Benutzeroberflächen enden.</p>
    <p></p>
  </section>
</section>