<section>
  <section>
    <h2>User Interface Design</h2>
  </section>

  <section>
    <p>Im bisherigen Verlauf dieser Vorlesung haben wir bereits ein paar Webseiten bauen können.</p>
    <p>Die meisten würden sicherlich keinen Schönheitswettbewerb gewinnen. Wir schieben aber mal den Zeitmangel als Grund davor und belassen es dabei...</p>
    <p>Diese Slides drehen sich aber genau primär darum: User Interface Design</p>
  </section>

  <section>
    <p>Was macht für euch ein Gutes User Interface aus?</p>
    <p>Wo begenen euch "User Interfaces"?</p>
  </section>

  <section>
    <p>User Interfaces existieren nicht nur auf dem Bildschirm!</p>
    <p>Alles was im weitesten Sinn bedient werden kann, hat ein User Interface, angefangen bei Alltäglichen Gegenständen wie Stiften bis hin zu hochkomplexen Systemen wie Autos.</p>
    <p>
      <a href="https://www.theuncomfortable.com" rel="noopener noreferrer">The Uncomfortable</a>
    </p>
  </section>

  <section>
    <p>Natürlich beziehen wir uns hier auf das Design von Web-Interfaces</p>
    <p>Aber was zählt den nun in gutes User Interface Design ein?</p>
  </section>

  <section>
    <ul>
      <li>Ein logisches Farbkonzept</li>
      <li>Negative Space (whitespace)</li>
      <li>Interaktives Feedback</li>
      <li>"Wiedererkennbares" Design</li>
      <li>Durchdachtes Layout und Navigation</li>
    </ul>
  </section>

  <section>
    <h3>Farben</h3>
  </section>

  <section>
    <p>Mit Farben können wir Informationen vermitteln, aber auch Gefühle hervorrufen.</p>
    <p>Zusätzlich können wir mit bestimmten Farben auch Firmen oder ganze Bereiche identifizieren:</p>
    <ul>
      <li>Mit Blau kann man oft Technologie-Firmen assozieren</li>
      <li>Grau-Silber deutet auf eine elegante und/oder teure Marke hin. (Stichwort "Zeitlos")</li>
      <li>Mit Grün verknüpfen wir die Natur, Wachstum, Gesundheit, etc.</li>
    </ul>
  </section>

  <section>
    <p>Farben dienen aber auch dazu, Zustände anzuzeigen</p>
    <ul>
      <li>Rot zum darstellen von Fehlern</li>
      <li>Grün für Erfolge</li>
      <li>Blau für Informationen</li>
    </ul>
  </section>

  <section>
    <p>Auf was sollten wir bei der Anwendung von Farben achten?</p>
    <ul>
      <li>Farb-Kontrast (Hintergrund und Vordergrund)</li>
      <li>Verwendung von Differenzierbaren Farben im "Grayscale"</li>
      <li>Ggf Anwendung der 60:30:10 Regel</li>
    </ul>
  </section>

  <section>
    <h3>60:30:10 Regel</h3>
  </section>

  <section>
    <p>Die 60:30:10 Regel ist ein Leitsatz / Guideline, in welchen "Mengen" Farben angewandt werden sollen.</p>
    <ul>
      <li>Die Basisfarbe soll in einem Umfang von 60% auf der Website verwendet werden</li>
      <li>Eine "Unterstützende" (Sekundäre) Farbe soll in einem Umfang von 30% angewandt werden</li>
      <li>Akzentfarben (Primärfarben) sollen zu 10% auf einer Website angewandt werden</li>
    </ul>
  </section>

  <section>
    <p>Basisfarben sind normalerweiße "großflächig" als Hintergrund verwendet und sollten neutral sein (hell oder dunkel, maximal ein leichter Farbstich)</p>
    <p>Sekundärfarben sind in besonderen Bereichen anzuwenden (Sidebars, Karten, Menüs) und sind tendenziell eher "ausgewaschene" Farben</p>
    <p>Primärfarben sind "Farbstark" und sollten der Farbe des Unternehmens (Brandfarbe) entsprechen</p>
  </section>

  <section>
    <p>Weiterführende Informationen sind unter den Begriffen "Farblehre" und "Farbentheorie" zu finden.</p> 
  </section>

  <section>
    <h3>"Spacing"</h3>
  </section>

  <section>
    <p>Unter dem Begriff "Spacing" sind auch die Begriffe "Whitespace" oder "Negative Space" zu sortieren. Alle Begriffe beschreiben letzten Endes das gleiche.</p>
  </section>

  <section>
    <p>Mit Spacing können wir verschiedene Sachen erwirken:</p>
    <ul>
      <li>Typografie: Lesbarkeit verbessern</li>
      <li>Visuelle Abtrennung von Inhalten</li>
      <li>Verbesserung von Interaktiven Elementen - (44px Regel!)</li>
    </ul>
  </section>

  <section>
    <p>Aus Entwicklungs Sicht reicht es, ein ausführliches Set an Spacing-Variablen zu haben und ein Grid-System definiert zu haben</p>
    <p>Hier hilft CSS-Grid!</p>
  </section>

  <section>
    <h3>Typografie</h3>
  </section>

  <section>
    <p>Die Wahl des Schriftsystems für die Webseite liegt im Normalfall im Aufgabenbereich der Designer, wir als Entwickler sind primär für die Einbindung auf der Webseite verantwortlich (sowie die Einstellung der Schrifteigenschaften)</p>
  </section>

  <section>
    <p>Typografie an sich ist ein sehr komplexes Thema, eine schnelle Übersicht aller wichtigen Begrifflichkeiten lässt sich im <a href="https://m2.material.io/design/typography/understanding-typography.html#type-properties" rel="noreferrer noopener">Material Design</a> finden.</p> 
  </section>

  <section>
    <p>Je nach Zielgruppe und Inhalt der Website, sind verschiedene Schrift-Formen möglich.</p>
    <ul>
      <li>Serifen-Schrift</li>
      <li>Monospace Schriften</li>
      <li>viele weitere...</li>
    </ul>
  </section>
</section>