<!-- Self-Explanatory -->
<!-- User Guidance -->
<!-- Innovation vs Tradition -->
<!-- Tools to measure -->
<section>
  <section>
    <h2>User Experience Design</h2>
  </section>

  <section>
    <b>Abgrenzung</b>
    <p>Insgesamt bildet die User Experience ein deutlich breiteres Spektrum ab, als man durch das reine User-Interface abbildet.</p>
    <p>Nüchtern betrachtet ist das UI-Design eine Unterdisziplin der UX. Im Umkehrschluss wirken sich Entscheidungen im UX-Design fast immer auf die UI aus.</p>
  </section>

  <section>
    <p>Mit dem UX-Design haben wir deutlich mehr Tools, Konzepte und Möglichkeiten, um "Probleme" zu beheben.</p>
    <p>Realistisch gesehen haben wir mehrere Hebel in der UX, in die gewirkt werden können. Primär achtet man beim UX-Design auf den Nutzer, der unser Produkt nutzt.</p>
    <p>Ein weiterer wichtiger Stakeholder ist nun auch das Geschäft / die Firma, die das Produkt entwickelt.</p>
  </section>

  <section>
    <p>Das heißt nun damit auch, dass wir das User Interface nicht nur für den Kunden verbessern, sondern auch darauf achten müssen, dass das "Produkt" profitabel sein muss. (Stichwort Dark UX Patterns)</p>
    <p>Hauptziel sollte aber bestmöglich sein, die Erfahrung des Nutzers mit unserem Program (und im nächsten Schritt auch "außerhalb" unseres Programmes) zu verbessern.</p>
  </section>

  <section>
    <p>Ähnlich zur uns bekannten Software-Entwicklung ist UX-Design auch ein iterativer Prozess und kann in Agilen Strukturen wie Scrum eingesetzt werden. (Je nach Firma sind dann auch gerne UX-Designer in Teams mit Entwicklern platziert.)</p>
    <p>Zur Frage "Wie man 'korrekt' Designed", gibt es ein paar Möglichkeiten. Eine Möglichkeit ist hierbei die ISO-Norm 9241-210 (Menschenzentrierte Gestaltung)</p>
  </section>

  <section>
    <p>Der komplette Prozess nach ISO 9241-210:</p>
    <ol>
      <li>Planen des Gestaltungsprozesses</li>
      <li>Versehen und Beschreiben des Nutzungskontexts</li>
      <li>Festlegen der Nutzungsanforderungen</li>
      <li>Erarbeiten von Lösungen</li>
      <li>Evaluierung der Lösung</li>
    </ol>
  </section>

  <section>
    <p>Eine alternative ist der Design-Thinking-Prozess:</p>
    <ul>
      <li>Verstehen</li>
      <li>Beobachten</li>
      <li>Sichtweise definieren</li>
      <li>Ideen finden</li>
      <li>Prototyp Entwickeln</li>
      <li>Testen</li>
    </ul>
  </section>
</section>