<section>
  <p>
    Die bisher vorgestellten CSS-Selektoren, waren nur ein paar der Verfügbaren Methoden, um HTML-Elemente zu selektieren.
  </p>
  <p>
    Die folgenden Slides erläutern die weiteren Methoden um komplexere Fälle abzudecken.
  </p>
</section>