---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="HTML Aufgabe 1">
  <h1>Aufgabe #1 zu HTML</h1>
  <p>
    Mit den bisher erlernten Inhalten sollte es möglich sein eine erste kleine HTML-Seite aufzubauen. Als Zielsetzung: versucht euch selber in dieser ersten HTML-Seite zu präsentieren.
    <br>
    Die Form ist euch überlassen:
    <ul>
      <li>Ein Lebenslauf</li>
      <li>Einen Blogeintrag über euch</li>
      <li>Eure eigene kreative Idee</li>
    </ul>
  </p>
</Layout>