<section>
  <section>
    <h2>Bereitstellung mittels Docker</h2>
  </section>

  <section>
    <ul>
      <li>Mit Docker-Container ist man bereits sehr nah an "Produktion"</li>
      <li>Alle Assets werden in einen NginX-Container platziert</li>
      <li>Der Container kann dann "überall" deployed werden</li>
    </ul>
  </section>

  <!-- Verlinkung zu einem "Basic" Dockerfile -->
</section>