---
import TitleSlide from './title.astro'
import WebBased from './web-apps.astro'
import PythonHttp from './using-python.astro'
import Docker from './docker.astro'
import Npm from './npm.astro'
---

<div class="slides">
  <TitleSlide />
  <WebBased />
  <PythonHttp />
  <Npm />
  <Docker />
</div>