<section>
  <section>
    <h2>NodeJS + NPM</h2>
  </section>

  <section>
    <p>
      NodeJS ist eine JavaScript-Runtime die auf vielen verschiedenen Platform Anwendung findet.
      <br><br>
      Im späteren Verlauf werden wir NodeJS auf jeden Fall verwenden. Deshalb lohnt es sich, die Runtime auf jeden Fall zu installieren.
      <br><br>
      NodeJS kommt mit dem Package Manager "NPM". Wir werden NPM für verschiedene Sachen verwenden.
    </p>
  </section>

  <section>
    <h3>Installation</h3>
    <p>
      Besuche die <a href="https://nodejs.org" target="_blank" rel="noopener noreferrer">NodeJS-Website</a> und lade dort das Program herunter.
      <br><br>
      Alternativ mit Choco, Brew, oder dem Linux-Package Manager eurer Wahl.
    </p>
  </section>

  <section>
    <h3>Setup von Web-Projekten mittels NPM</h3>
    <pre class="bash"><code data-trim data-line-numbers>
      User&gt; # Projektordner erstellen
      User&gt; mkdir mein-html-project && cd mein-html-project
      User&gt; # Im Projektordner ein NPM-Projekt initialisieren
      User&gt; npm init 
      User&gt; # Optional noch git initialisieren
      User&gt; git init
    </code></pre>
  </section>

  <section>
    <ul>
      <li>Für den Anfang wäre die Arbeit mit NodeJS "Overkill"</li>
      <li>Im späteren Verlauf werden wir uns aber mit dem Thema bundling beschäftigen</li>
      <li>Dafür werden wir einen Bundler Namens "Vite" verwenden</li>
      <li>Die Installation wird dann über NPM erfolgen</li>
    </ul>
  </section>

  <section>
    <h3>Surge</h3>
    <p>
      Surge ist eine Website zum hosten von statischen Inhalten
    </p>
    <ul>
      <li>Schnelles Setup</li>
      <li>Inhalt sofort im Internet verfügbar</li>
      <li>Mehr unter <a href="https://surge.sh" target="_blank" rel="noopener noreferrer">Surge.sh</a></li>
    </ul>
  </section>
</section>