<section>
  <section>
    <h2>Python Web-Server</h2>
  </section>

  <section>
    <p>
      Für diejenigen, die bereits Python auf dem Laptop installiert haben.
      <br>
      Bietet eine schnelle und einfache Lösung, lokale HTML-Dateien auszuspielen.
    </p>
  </section>

  <section>
    <pre class="bash"><code data-trim data-line-numbers>
      User&gt; cd &lt;ordner-mit-html-dateien&gt;
      User&gt; python3 -m http.server
    </code></pre>
  </section>
</section>