<section>
  <section>
    <h2>Webbasierte Lösungen</h2>
  </section>

  <section>
    <p>Genug für den Anfang, sobald wir mit JavaScript arbeiten, sollten alternative Lösungen bevorzugt werden</p>
  </section>

  <section>
    <ul style="list-style-type: none; margin: unset; padding: unset;">
      <li><a href="https://glitch.com" target="_blank" rel="noopener noreferrer">Glitch</a></li>
      <li><a href="https://codepen.io" target="_blank" rel="noopener noreferrer">Codepen</a></li>
      <li><a href="https://stackblitz.com" target="_blank" rel="noopener noreferrer">Stackblitz</a></li>
    </ul>
  </section>
</section>