---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="HTML Aufgabe 1">
  <h1>Aufgabe #1 zu HTML</h1>
  <p>
    Mit den bisher erlernten Inhalten sollte es möglich sein eine erste kleine HTML-Seite aufzubauen.
    <br>
    Die Art ist euch überlassen:
    <!-- ToDo: Cards? -->
    <ul>
      <li>Ein Lebenslauf</li>
      <li>Einen Blogeintrag über euch</li>
      <li>Eine Aufgabenseite wie diese hier?</li>
      <li>Eure eigene kreative Idee</li>
    </ul>
  </p>
  <h2>
    Tipps & Tricks
  </h2>
  <p>
    Sobald ihr eure ersten Zeilen HTML geschrieben habt, könnt ihr euch mal folgendes ansehen:
  </p>
  <ul>
    <li>
      <a href="https://docs.emmet.io/" target="_blank" rel="noopener noreferrer">Emmet</a>
      <ul>
        <li>Integraler Bestandteil von VSCode und weiteren Editoren</li>
        <li>Hilft euch schneller ein HTML-Grundgerüst aufzubauen</li>
        <li>Einfach mal ausprobieren: <code>html</code> in ein leeres HTML-Dokument schreiben und auf Enter drücken!</li>
        <li><code>ul&gt;li*5</code> eintippen und das Resultat anschauen!</li> 
      </ul>
    </li>
  </ul>
</Layout>
