---
import Title from './title.astro';
import FunctionDeclaration from './function-definition.astro';
import Scope from './scope.astro';
---

<div class="slides">
  <Title />
  <FunctionDeclaration />
  <Scope />
</div>